<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />

    <application>
        <activity
            android:name=".IncomingCallActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:showWhenLocked="true"
            android:turnScreenOn="true"
            android:theme="@style/Theme.IncomingCallKit.FullScreen" />

        <receiver
            android:name=".IncomingCallActionReceiver"
            android:enabled="true"
            android:exported="false" />
    </application>
</manifest>
